<div class="row">
  <div class="span12">
    <h1><%= @location.name %></h1>
    <div id="chart_div" style="width: 1024px; height: 500px;"></div>
    <br><br>
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th>Date Time</th>
          <th>No. of people used latrine</th>
          <th>No. of people washed their hands</th>
          <th>Water level</th>
        </tr>
      </thead>
      <tbody>
        <% @stats.each do |stat| %>
          <tr>
            <td><%= stat.time.strftime("%D %R") %></td>
            <td><%= stat.toilet_count %></td>
            <td><%= stat.wash_basin_count %></td>
            <td><%= stat.water_level %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<% content_for :javascript do %>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript" charset="utf-8">
    var stats = <%=raw @stats.to_json %>;
    var statsArray = [];
    $.each(stats, function(){
      var time = new Date(this.time);
      var array = [ time, this.toilet_count, this.wash_basin_count, this.water_level ];
      statsArray.push(array);
    });
  </script>
  <script type="text/javascript">
    google.load('visualization', '1', {'packages':['annotatedtimeline']});
    google.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = new google.visualization.DataTable();
      data.addColumn('date', 'Date');
      data.addColumn('number', 'No. of people used latrine');
      data.addColumn('number', 'No. of people washed their hands');
      data.addColumn('number', 'Water level');

      data.addRows(statsArray);
      var chart = new google.visualization.AnnotatedTimeLine(document.getElementById('chart_div'));
      chart.draw(data, {displayAnnotations: true});
    }
  </script>

<% end %>
