<h1><%= @location.name %></h1>

<div class="alert-group">
  <% if @location.latest_stat.alert_water_level? %>
    <div class="alert">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Warning!</strong> Water level is low!
    </div>
  <% end %>

  <% if @location.latest_stat.alert_wash_level? %>
    <div class="alert">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Warning!</strong> <%= number_to_percentage @location.latest_stat.wash_level %> of people are not washing hands after using sanitary facilities!
    </div>
  <% end %>
</div>

<div class="row">
  <div class="span6">
    <h3>Usage Statistics</h3>
    <div id="usage_dashboard" class="well">
      <div id="usage_chart" class="chart"></div>
      <div id="usage_control" class="control"></div>
    </div>
  </div>

  <div class="span6">
    <h3>Water Level Statistics</h3>
    <div id="water_level_dashboard" class="well">
      <div id="water_level_chart" class="chart"></div>
      <div id="water_level_control" class="control"></div>
    </div>
  </div>
</div>

<% content_for :javascript do %>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript" charset="utf-8">
    var usage_array = [], water_level_array = [];
    <% @stats.each do |stat| %>
      usage_array.push([ new Date(<%= raw stat.time.to_json %>), <%= stat.toilet_count %>, <%= stat.wash_basin_count %> ]);
      water_level_array.push([ new Date(<%= raw stat.time.to_json %>), <%= stat.water_level %> ]);
    <% end %>

    google.load('visualization', '1', {'packages':['corechart', 'controls', 'motionchart']});
    google.setOnLoadCallback(drawChart);

    function drawChart() {
      drawUsageChart();
      drawWaterLevelChart();
    }

    function drawUsageChart() {
      var usage_data = new google.visualization.DataTable();
      usage_data.addColumn('datetime', 'Date/Time');
      usage_data.addColumn('number', 'Used latrine');
      usage_data.addColumn('number', 'Washed hands');
      usage_data.addRows(usage_array);

      drawDashboard(usage_data, 'usage_control', 'usage_chart', 'usage_dashboard');
    }

    function drawWaterLevelChart() {
      var water_level_data = new google.visualization.DataTable();
      water_level_data.addColumn('datetime', 'Date/Time');
      water_level_data.addColumn('number', 'Water level');
      water_level_data.addRows(water_level_array);

      drawDashboard(water_level_data, 'water_level_control', 'water_level_chart', 'water_level_dashboard');
    }

    function drawDashboard(data, control_div, chart_div, dashboard_div) {
      columns = [{
        type: 'string',
        calc: function(dataTable, rowIndex) {
          return dataTable.getFormattedValue(rowIndex, 0);
        }
      }];

      for (var i=1; i<data.getNumberOfColumns(); i++)
        columns.push(i);

      var control = new google.visualization.ControlWrapper({
        controlType: 'ChartRangeFilter',
        containerId: control_div,
        options: {
          filterColumnIndex: 0,
          minRangeSize: 60*60
        },
        state: { range: {
          start: new Date(<%= raw (@stats.last.time - 1.day).to_json %>),
          end: new Date(<%= raw @stats.last.time.to_json %> )
        } }
      });

      var chart = new google.visualization.ChartWrapper({
        chartType: 'AreaChart',
        containerId: chart_div,
        dataTable: data,
        options: {
          curveType: 'function',
          chartArea: { height: '85%', width: '90%' },
          hAxis: { slantedText: false },
          legend: { position: 'top' }
        },
        view: { columns: columns }
      });

      var dashboard = new google.visualization.Dashboard(document.getElementById(dashboard_div));
      dashboard.bind(control, chart);
      dashboard.draw(data);
    }
  </script>

<% end %>
